@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    color: #EF5DA8;
}

section {
    margin-bottom: 30px;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    text-align: center;
    color: #777;
}